
.li_1{
    width: 1439px;
    height: 495px; 
    text-align: center;
    margin: 0 auto;   

}
.box-wrap{

    display: flex;
    height: 495px;
    background: aquamarine;
    justify-content: space-between;


}

.box{
    width:345px;
    height: 495px;
    background: teal;
    margin:0px;
    border: 1px solid #000;
    padding-left: 0;
    padding-right: 20px;
}

#btnSubmit{
    width:100px;
    margin:auto;
    display:block;
    margin-top: 28px;
}
button{
    width: 345px;
    height: 50px;

}
button:hover{
    background-color: black;
    color: #ffffff;
}

h1{
    padding-top: 22px;
    padding-bottom: 0;
     background-color: bisque;
     font-weight: 900;
     margin: 0;
     text-align: left;

 }
 
h2{
     background-color: burlywood;
     padding-top: 4px;
     padding-bottom: 28px;
     font-weight: 400;
     margin: 0;
     text-align: left;

 }
 
h3{
     font-weight: 900;
     background-color: cadetblue;
    margin: 0;
    padding-top: 90px;
    padding-bottom: 10px;
    text-align: left;

 }
 main{
    /* width: 1441px; height: 2394px;
    border: 1px solid lightblue; */
   
    
}  

.group{
    /* padding-top: 100px; */
    padding-bottom: 100px;
}